html, body {
  height: 100%;
  width: 100%;
  margin-left: 20px;
}

.Contexto{
  margin-left: 60px;
}

.Objetivos{
  margin-left: 60px;
}

.Datos{
  margin-left: 60px;
}

.Preguntas{
  margin-left: 60px;
}

.Diseño{
  margin-left: 60px;
}